services:
    db:
        build: docker/postgres
        restart: always
        environment:
            POSTGRES_PASSWORD: password
            POSTGRES_DB: dbtest
        ports:
            - "15435:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data
            - pgconf:/etc/postgresql
            - pglog:/var/log/postgresql
        networks:
            - sail
    php-fpm:
        build:
            context: ./docker/php-fpm
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        depends_on:
            - db
        extra_hosts:
            - 'host.docker.internal:host-gateway'
#        ports:
#            - '${APP_PORT:-80}:80'
#            - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
            IGNITION_LOCAL_SITES_PATH: '${PWD}'
            PHP_IDE_CONFIG: "serverName=docker-server"
        volumes:
            - '.:/var/www'
        networks:
            - sail

    nginx:
        build:
            context: docker/nginx
            args:
                USER_ID: ${UID-1000}
                GROUP_ID: ${GID-1000}
        volumes:
            - ./:/var/www/
            - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./docker/nginx/sites/:/etc/nginx/sites-available
            - ./docker/nginx/conf.d/:/etc/nginx/conf.d
            - ./docker/nginx/logs:/var/log/nginx
        depends_on:
            - php-fpm
        ports:
            - "80:80"
            - "443:443"
        networks:
            - sail


networks:
    sail:
        driver: bridge

volumes:
    pgdata:
        driver: local
    pgconf:
        driver: local
    pglog:
        driver: local

